################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/obj
/.idea/.idea.BlockLimiter
/BlockLimiter/bin
/BlockLimiter/obj
/GameBinaries
/TorchBinaries
/.vs
/packages


/Build/BlockLimiter.zip

/--Backups-Plugins/1.7.331/blocklimiter-v1.7.xxx/

/--Backups-Plugins/1.7.333/blocklimiter-v1.7.xxx/

/Build
/bin
/BlockLimiter/obj